main.contact #content > div:first-child {
	display: block;
	margin: 10% auto auto auto;
}

main.contact #content .icon-mobile {
	font-size: 1.3em;
}

main.contact #content div[itemscope]:first-of-type {
	width: 310px;
	height: 70px;
	margin: auto;
}