body {
    padding: 0;
    font-family: 'Open Sans', sans-serif !important;
    background-color: #193354 !important;
    max-height: 1000px;
    overflow-x: hidden
}

ul, li {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none;
    color: #ffffff;
}

.scol30, .mcol30, .lcol30, .scol70, .mcol70, .lcol70 {
    box-sizing: border-box;
    margin-right: -10px
}

#wrapper {
    background-color: #ffffff;
    position: relative;
}

#wrapper > *:not(#lang-control) {
    margin: 20px 0;
}

#clues {
    text-align: center
}

#banner:last-child {
    text-align: center
}

#banner #info span[class^="icon"] {
    margin-right: 5px
}

#info,
#info > * {
    height: 50%;
}

#info > * {
    padding-top: 3.75%;
}

span.icon-mobile {
    font-size: 1.3em
}

.col50 {
    width: 47%;
    display: inline-block;
    height: 244px;
    vertical-align: top
}

#main-menu {
    width: 100%;
    position: relative;
    padding: 0;
}

#main-menu > .col-lg-3:not(:first-child):not(:last-child) {
    border-width: 1px 0 1px 1px;
}

#main-menu > .col-lg-3:first-child {
    border-width: 1px 0 1px 1px;
}

#main-menu > .col-lg-3:last-child {
    border-width: 1px;
}

#main-menu > .col-lg-3 {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #aacc14;
    text-align: center;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
}

#main-menu > .col-lg-3:hover {
    background-color: #a6aaad;
}

#main-menu > .col-lg-4 a {
    display: block
}

.menu {
    width: 14%;
    display: inline-block;
    vertical-align: middle;
    margin: 30px auto;
    color: #fff
}

.menu ul li {
    background-color: #aacc14;
    border: solid 1px;
    width: 100px;
    color: #000;
    list-style: none;
    text-align: center
}

.menu ul li i {
    margin-left: 5px;
    cursor: context-menu
}

.menu>ul:first-child {
    margin-right: 1px
}

#footer {
    font-size: .8em;
    color: #fff;
    border-style: hidden;
    border-radius: 1.5em
}

.col25 {
    width: 24%;
    display: inline-block;
    vertical-align: middle
}

#main-contact {
    text-align: center
}

.scol30, .mcol30, .lcol30, .scol70, .mcol70, .lcol70 {
    height: 100%
}

div.timeline-widget>a.u-floatLeft {
    display: none
}

#services {
    position: relative;
    top: -60px;
    margin-top: 100px;
    margin-left: 10px
}

.service-img {
    border: 1px solid #000
}

.service-img:not(#service-4) {
    width: 175px;
    height: 125px
}

#services ul li {
    margin-left: 20px
}

#services img {
    margin-top: 50px
}

#articles p {
    color: blue;
    text-decoration: underline
}

#articles {
    padding-top: 100px;
    padding-left: 50px
}

#articles span[class^="icon"] {
    font-size: 1.2em;
    color: #c50002
}

#articles a[href^="downloads/"] {
    display: inline-block;
    margin-left: 5px
}

#social-media-btns {
    text-align: center;
    padding-bottom: 6%;
    width: 100%;
    display: block
}

.twitter-follow-button {
    margin-left: 20px;
    display: inline-block
}

#social-media-btns span.icon-thumbs-o-up {
    font-size: 1.1em;
    color: darkblue
}

#social-media-btns a>span {
    color: black
}

#home-img {
    display: block;
    margin-bottom: 50px
}

#lang-control {
    width: 100%;
    height: 19px
}

#lang-control a {
    float: right
}

.l-img {
    width: 30px;
    height: 15px;
    cursor: pointer
}

.welcome {
    margin-bottom: 30px
}

.desc {
    margin-bottom: 40px
}

#name {
    margin-top: 0;
    margin-bottom: 0
}

.prof {
    margin-top: 0;
    font-size: .9em
}

#email {
    margin-top: 0;
    font-size: 1.2em
}

#phone {
    margin-top: 0;
    padding-bottom: 12px;
    font-size: 1.2em
}

.medialink {
    margin-right: 50px
}

#info i {
    margin-right: 5px
}

#main-contact span[class^="icon"] {
    margin: 0 5px
}

#sitemap {
    text-decoration: underline
}

#articles-1 {
    transform: scale(0.5, 0.5)
}