header {
    padding: 0 !important;
}

#lang-control {
    text-align: right
}

#logo {
    height: 136px
}

#menu {
    display: block;
    visibility: visible;
    width: initial;
    height: initial
}

#home-desc {
    text-align: left
}

#main-menu ul li {
    width: 24.5%;
    display: inline-block
}