header {
    padding: 0 !important;
}

#lang-control {
    text-align: right
}

#logo {
    height: 136px
}

#menu {
    display: block;
    visibility: visible;
    width: inital;
    height: initial
}

.welcome {
    text-align: left
}

#desc {
    text-align: left
}

.mcol30 {
    width: 30%;
    display: inline-block
}

.mmcol70 {
    width: 85%;
    display: inline-block
}

.mcol50 {
    width: 50%;
    display: inline-block
}

#main-menu ul li {
    width: 24.5%;
    display: inline-block
}

.mcol30 {
    width: 30%;
    display: inline-block
}

#header > div:nth-child(2),
#header > div:nth-child(3) {
    height: 208px;
}