#wrapper {
    width: 70%;
    position: relative;
    padding: 0;
    margin: auto
}

#lang {
    text-align: right
}

#logo {
    height: 136px
}

#currimg {
    width: 300px;
    height: 100px
}

#main {
    padding-bottom: 100px
}

#menu {
    display: block;
    visibility: visible;
    width: inital;
    height: initial
}

.welcome {
    text-align: left
}

#desc {
    text-align: left
}

.mcol30 {
    width: 30%;
    display: inline-block
}

.mmcol70 {
    width: 85%;
    display: inline-block
}

#home-img {
    width: 40%
}

.mcol50 {
    width: 50%;
    display: inline-block
}

nav ul li {
    width: 24.5%;
    display: inline-block
}

.mcol30 {
    width: 30%;
    display: inline-block
}