#slideshow {
    height: 50%;
}

.slide-img {
    position: relative;
    top: 0;
    left: 0;
    transform: scale(0.7, 0.7);
    opacity: 0;
}

.slide-img {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}