# Prevent directory listings
Options -Indexes
IndexIgnore */*

# If a dir is a symbol link, follow the link. Prerequisite for mod_rewrite.
Options FollowSymlinks

# Enable mod_rewrite
RewriteEngine on

# Dont redirect if url is a valid file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Emit 'podokomia' on production
RewriteRule ^(.+)?$ /podokomia/index.php?action=$1