# Prevent directory listings
Options -Indexes
IndexIgnore */*

# If a dir is a symbol link, follow the link. Prerequisite for mod_rewrite.
Options FollowSymlinks

# Enable mod_rewrite
RewriteEngine on

# Dont redirect if url is a valid file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.txt|\.eot|\.svg|\.ttf|\.woff)$ [NC]

RewriteRule ^(\w+)/(.+)?$ /podokomia/index.php?action=$2&language=$1 [L]

# Maintanance Code
# Dont redirect if it is me (change IP with my current IP: https://whatismyipaddress.com/)
#RewriteCond %{REMOTE_ADDR} !^79\.167\.174\.38

# Dont redirect in case of url beeing maintenance.php
#RewriteCond %{REQUEST_URI} !/maintenance.php$ [NC]

#RewriteRule .* /podokomia/maintenance.php [L]