# Prevent directory listings
Options -Indexes
IndexIgnore */*

# If a dir is a symbol link, follow the link. Prerequisite for mod_rewrite.
Options FollowSymlinks

# Enable mod_rewrite
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#On production remove '/podokomia'.
RewriteRule ^(.+)?$ /podokomia/index.php?action=$1