#logo {
    width: 121px;
    height: 122px;
}

.twitter-timeline,
.fb-page iframe {
    position: relative !important;
    min-height: 500px !important;
    width: 80% !important;
    display: block !important;
    margin: 15px auto !important;
    -webkit-align-self: center;
    align-self: center;
}

footer {
    font-size: 17px;
}