header {
    padding: 0 !important;
}

.l-img {
    width: 64px;
    height: 32px;
    margin: 0 2px;
}

#logo {
    width: 121px;
    height: 122px;
}

#main-menu > div {
    width: 24.5%;
    display: inline-block
}

header > div:nth-child(2),
header > div:nth-child(3) {
    height: 208px;
}

footer {
    font-size: 17px;
}