header {
    padding: 0 !important;
}

#lang-control {
    text-align: center;
    padding: 10px 0;
}

.l-img {
    width: 64px;
    height: 32px;
    margin: 0 2px;
}

#logo {
    width: 121px;
    height: 122px;
}

#main-menu > div {
    width: 24.5%;
    display: inline-block
}

header > div:nth-child(2) {
    height: 208px;
}

.twitter-timeline,
#fb-timeline {
    position: relative !important;
    min-height: 450px !important;
    width: 80% !important;
    display: block !important;
    margin: 15px auto !important;
}

footer {
    font-size: 17px;
}