#avail-services > div {
	font-size: 17.5px;
}

#serv-images {
	margin: 25px 0;
	padding: 0 10px;
}

#serv-images > a {
	display: inline-block;
}

#serv-images > div {
	min-height: 368px;
}

.service-img {
    border: 1px solid #000
}

.service-img {
    width: 175px;
    height: 125px
}