#logo {
    width: 121px;
    height: 122px;
}

.twitter-timeline,
#fb-timeline {
    position: relative !important;
    min-height: 450px !important;
    width: 80% !important;
    display: block !important;
    margin: 15px auto !important;
}

#content {
    text-align: center;
}

footer {
    font-size: 17px;
}