#wrapper {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}

#main-menu-collapsed ul li a {
	text-align: center;
}

#slideshow {
	display: none;
}

h1 {
	text-align: center;
}

#home-img {
	margin: auto;
}

#main.articles .modal-image {
	margin: auto;
	display: block;
}

#main.articles .col-lg-6 > .col-lg-12 {
	text-align: center;
}

#main.contact div[itemscope] {
	text-align: center;
	margin-top: 10%;
}